{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-05-27",
        "endpointPrefix": "sagemaker-geospatial",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "SageMaker Geospatial",
        "serviceId": "SageMaker Geospatial",
        "signatureVersion": "v4",
        "signingName": "sagemaker-geospatial",
        "uid": "sagemaker-geospatial-2020-05-27"
    },
    "operations": {
        "DeleteEarthObservationJob": {
            "name": "DeleteEarthObservationJob",
            "http": {
                "method": "DELETE",
                "requestUri": "/earth-observation-jobs/{Arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteEarthObservationJobInput"
            },
            "output": {
                "shape": "DeleteEarthObservationJobOutput"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "documentation": "<p>DeleteEarthObservationJob operation</p>",
            "idempotent": true
        },
        "DeleteVectorEnrichmentJob": {
            "name": "DeleteVectorEnrichmentJob",
            "http": {
                "method": "DELETE",
                "requestUri": "/vector-enrichment-jobs/{Arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteVectorEnrichmentJobInput"
            },
            "output": {
                "shape": "DeleteVectorEnrichmentJobOutput"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "documentation": "<p>DeleteVectorEnrichmentJob operation</p>",
            "idempotent": true
        },
        "ExportEarthObservationJob": {
            "name": "ExportEarthObservationJob",
            "http": {
                "method": "POST",
                "requestUri": "/export-earth-observation-job",
                "responseCode": 200
            },
            "input": {
                "shape": "ExportEarthObservationJobInput"
            },
            "output": {
                "shape": "ExportEarthObservationJobOutput"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "documentation": "<p>ExportEarthObservationJob operation</p>"
        },
        "ExportVectorEnrichmentJob": {
            "name": "ExportVectorEnrichmentJob",
            "http": {
                "method": "POST",
                "requestUri": "/export-vector-enrichment-jobs",
                "responseCode": 200
            },
            "input": {
                "shape": "ExportVectorEnrichmentJobInput"
            },
            "output": {
                "shape": "ExportVectorEnrichmentJobOutput"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "documentation": "<p>ExportVectorEnrichmentJob operation</p>"
        },
        "GetEarthObservationJob": {
            "name": "GetEarthObservationJob",
            "http": {
                "method": "GET",
                "requestUri": "/earth-observation-jobs/{Arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetEarthObservationJobInput"
            },
            "output": {
                "shape": "GetEarthObservationJobOutput"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "documentation": "<p>GetEarthObservationJob operation</p>"
        },
        "GetRasterDataCollection": {
            "name": "GetRasterDataCollection",
            "http": {
                "method": "GET",
                "requestUri": "/raster-data-collection/{Arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetRasterDataCollectionInput"
            },
            "output": {
                "shape": "GetRasterDataCollectionOutput"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "documentation": "<p>GetRasterDataCollection operation</p>"
        },
        "GetTile": {
            "name": "GetTile",
            "http": {
                "method": "GET",
                "requestUri": "/tile/{z}/{x}/{y}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetTileInput"
            },
            "output": {
                "shape": "GetTileOutput"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "documentation": "<p>GetTile operation</p>"
        },
        "GetVectorEnrichmentJob": {
            "name": "GetVectorEnrichmentJob",
            "http": {
                "method": "GET",
                "requestUri": "/vector-enrichment-jobs/{Arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetVectorEnrichmentJobInput"
            },
            "output": {
                "shape": "GetVectorEnrichmentJobOutput"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "documentation": "<p>GetVectorEnrichmentJob operation</p>"
        },
        "ListEarthObservationJobs": {
            "name": "ListEarthObservationJobs",
            "http": {
                "method": "POST",
                "requestUri": "/list-earth-observation-jobs",
                "responseCode": 200
            },
            "input": {
                "shape": "ListEarthObservationJobInput"
            },
            "output": {
                "shape": "ListEarthObservationJobOutput"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "documentation": "<p>ListEarthObservationJobs operation</p>"
        },
        "ListRasterDataCollections": {
            "name": "ListRasterDataCollections",
            "http": {
                "method": "GET",
                "requestUri": "/raster-data-collections",
                "responseCode": 200
            },
            "input": {
                "shape": "ListRasterDataCollectionsInput"
            },
            "output": {
                "shape": "ListRasterDataCollectionsOutput"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "documentation": "<p>ListRasterDataCollections operation</p>"
        },
        "ListTagsForResource": {
            "name": "ListTagsForResource",
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "shape": "ListTagsForResourceRequest"
            },
            "output": {
                "shape": "ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ]
        },
        "ListVectorEnrichmentJobs": {
            "name": "ListVectorEnrichmentJobs",
            "http": {
                "method": "POST",
                "requestUri": "/list-vector-enrichment-jobs",
                "responseCode": 200
            },
            "input": {
                "shape": "ListVectorEnrichmentJobInput"
            },
            "output": {
                "shape": "ListVectorEnrichmentJobOutput"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "documentation": "<p>ListVectorEnrichmentJobs operation</p>"
        },
        "SearchRasterDataCollection": {
            "name": "SearchRasterDataCollection",
            "http": {
                "method": "POST",
                "requestUri": "/search-raster-data-collection",
                "responseCode": 200
            },
            "input": {
                "shape": "SearchRasterDataCollectionInput"
            },
            "output": {
                "shape": "SearchRasterDataCollectionOutput"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "documentation": "<p>SearchRasterDataCollection operation</p>"
        },
        "StartEarthObservationJob": {
            "name": "StartEarthObservationJob",
            "http": {
                "method": "POST",
                "requestUri": "/earth-observation-jobs",
                "responseCode": 200
            },
            "input": {
                "shape": "StartEarthObservationJobInput"
            },
            "output": {
                "shape": "StartEarthObservationJobOutput"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "documentation": "<p>StartEarthObservationJob operation</p>",
            "idempotent": true
        },
        "StartVectorEnrichmentJob": {
            "name": "StartVectorEnrichmentJob",
            "http": {
                "method": "POST",
                "requestUri": "/vector-enrichment-jobs",
                "responseCode": 200
            },
            "input": {
                "shape": "StartVectorEnrichmentJobInput"
            },
            "output": {
                "shape": "StartVectorEnrichmentJobOutput"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "documentation": "<p>StartVectorEnrichmentJob operation</p>",
            "idempotent": true
        },
        "StopEarthObservationJob": {
            "name": "StopEarthObservationJob",
            "http": {
                "method": "POST",
                "requestUri": "/earth-observation-jobs/stop",
                "responseCode": 200
            },
            "input": {
                "shape": "StopEarthObservationJobInput"
            },
            "output": {
                "shape": "StopEarthObservationJobOutput"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "documentation": "<p>StopEarthObservationJob operation</p>"
        },
        "StopVectorEnrichmentJob": {
            "name": "StopVectorEnrichmentJob",
            "http": {
                "method": "POST",
                "requestUri": "/vector-enrichment-jobs/stop",
                "responseCode": 200
            },
            "input": {
                "shape": "StopVectorEnrichmentJobInput"
            },
            "output": {
                "shape": "StopVectorEnrichmentJobOutput"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "documentation": "<p>StopVectorEnrichmentJob operation</p>",
            "idempotent": true
        },
        "TagResource": {
            "name": "TagResource",
            "http": {
                "method": "PUT",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "shape": "TagResourceRequest"
            },
            "output": {
                "shape": "TagResourceResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true
        },
        "UntagResource": {
            "name": "UntagResource",
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "shape": "UntagResourceRequest"
            },
            "output": {
                "shape": "UntagResourceResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ]
        }
    },
    "shapes": {
        "AccessDeniedException": {
            "type": "structure",
            "required": [
                "Message"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 403,
                "senderFault": true
            },
            "exception": true
        },
        "AlgorithmNameCloudRemoval": {
            "type": "string",
            "enum": [
                "INTERPOLATION"
            ]
        },
        "AlgorithmNameGeoMosaic": {
            "type": "string",
            "enum": [
                "NEAR",
                "BILINEAR",
                "CUBIC",
                "CUBICSPLINE",
                "LANCZOS",
                "AVERAGE",
                "RMS",
                "MODE",
                "MAX",
                "MIN",
                "MED",
                "Q1",
                "Q3",
                "SUM"
            ]
        },
        "AlgorithmNameResampling": {
            "type": "string",
            "enum": [
                "NEAR",
                "BILINEAR",
                "CUBIC",
                "CUBICSPLINE",
                "LANCZOS",
                "AVERAGE",
                "RMS",
                "MODE",
                "MAX",
                "MIN",
                "MED",
                "Q1",
                "Q3",
                "SUM"
            ]
        },
        "AreaOfInterest": {
            "type": "structure",
            "members": {
                "AreaOfInterestGeometry": {
                    "shape": "AreaOfInterestGeometry"
                }
            },
            "union": true
        },
        "AreaOfInterestGeometry": {
            "type": "structure",
            "members": {
                "PolygonGeometry": {
                    "shape": "PolygonGeometryInput"
                },
                "MultiPolygonGeometry": {
                    "shape": "MultiPolygonGeometryInput"
                }
            },
            "union": true
        },
        "Arn": {
            "type": "string",
            "max": 2048,
            "min": 1
        },
        "AssetValue": {
            "type": "structure",
            "members": {
                "Href": {
                    "shape": "String"
                }
            }
        },
        "AssetsMap": {
            "type": "map",
            "key": {
                "shape": "String"
            },
            "value": {
                "shape": "AssetValue"
            }
        },
        "BandMathConfigInput": {
            "type": "structure",
            "members": {
                "PredefinedIndices": {
                    "shape": "StringListInput"
                },
                "CustomIndices": {
                    "shape": "CustomIndicesInput"
                }
            }
        },
        "BinaryFile": {
            "type": "blob",
            "streaming": true
        },
        "Boolean": {
            "type": "boolean",
            "box": true
        },
        "CloudMaskingConfigInput": {
            "type": "structure",
            "members": {}
        },
        "CloudRemovalConfigInput": {
            "type": "structure",
            "members": {
                "AlgorithmName": {
                    "shape": "AlgorithmNameCloudRemoval"
                },
                "InterpolationValue": {
                    "shape": "String"
                },
                "TargetBands": {
                    "shape": "StringListInput"
                }
            }
        },
        "ComparisonOperator": {
            "type": "string",
            "enum": [
                "EQUALS",
                "NOT_EQUALS",
                "STARTS_WITH"
            ]
        },
        "ConflictException": {
            "type": "structure",
            "required": [
                "Message",
                "ResourceId"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                },
                "ResourceId": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 409,
                "senderFault": true
            },
            "exception": true
        },
        "CustomIndicesInput": {
            "type": "structure",
            "members": {
                "Operations": {
                    "shape": "OperationsListInput"
                }
            }
        },
        "DataCollectionArn": {
            "type": "string",
            "pattern": "arn:aws[a-z-]{0,12}:sagemaker-geospatial:[a-z0-9-]{1,25}:[0-9]{12}:raster-data-collection/(public|premium|user)/[a-z0-9]{12,}"
        },
        "DataCollectionType": {
            "type": "string",
            "enum": [
                "PUBLIC",
                "PREMIUM",
                "USER"
            ]
        },
        "DataCollectionsList": {
            "type": "list",
            "member": {
                "shape": "RasterDataCollectionMetadata"
            }
        },
        "DeleteEarthObservationJobInput": {
            "type": "structure",
            "required": [
                "Arn"
            ],
            "members": {
                "Arn": {
                    "shape": "EarthObservationJobArn",
                    "location": "uri",
                    "locationName": "Arn"
                }
            }
        },
        "DeleteEarthObservationJobOutput": {
            "type": "structure",
            "members": {}
        },
        "DeleteVectorEnrichmentJobInput": {
            "type": "structure",
            "required": [
                "Arn"
            ],
            "members": {
                "Arn": {
                    "shape": "VectorEnrichmentJobArn",
                    "location": "uri",
                    "locationName": "Arn"
                }
            }
        },
        "DeleteVectorEnrichmentJobOutput": {
            "type": "structure",
            "members": {}
        },
        "Double": {
            "type": "double",
            "box": true
        },
        "EarthObservationJobArn": {
            "type": "string",
            "pattern": "arn:aws[a-z-]{0,12}:sagemaker-geospatial:[a-z0-9-]{1,25}:[0-9]{12}:earth-observation-job/[a-z0-9]{12,}"
        },
        "EarthObservationJobErrorDetails": {
            "type": "structure",
            "members": {
                "Type": {
                    "shape": "EarthObservationJobErrorType"
                },
                "Message": {
                    "shape": "String"
                }
            }
        },
        "EarthObservationJobErrorType": {
            "type": "string",
            "enum": [
                "CLIENT_ERROR",
                "SERVER_ERROR"
            ]
        },
        "EarthObservationJobExportStatus": {
            "type": "string",
            "enum": [
                "IN_PROGRESS",
                "SUCCEEDED",
                "FAILED"
            ]
        },
        "EarthObservationJobList": {
            "type": "list",
            "member": {
                "shape": "ListEarthObservationJobOutputConfig"
            }
        },
        "EarthObservationJobOutputBands": {
            "type": "list",
            "member": {
                "shape": "OutputBand"
            }
        },
        "EarthObservationJobStatus": {
            "type": "string",
            "enum": [
                "INITIALIZING",
                "IN_PROGRESS",
                "STOPPING",
                "COMPLETED",
                "STOPPED",
                "FAILED",
                "DELETING",
                "DELETED"
            ]
        },
        "EoCloudCoverInput": {
            "type": "structure",
            "required": [
                "LowerBound",
                "UpperBound"
            ],
            "members": {
                "LowerBound": {
                    "shape": "Float"
                },
                "UpperBound": {
                    "shape": "Float"
                }
            }
        },
        "EojDataSourceConfigInput": {
            "type": "structure",
            "members": {
                "S3Data": {
                    "shape": "S3DataInput"
                }
            },
            "union": true
        },
        "ExportEarthObservationJobInput": {
            "type": "structure",
            "required": [
                "Arn",
                "ExecutionRoleArn",
                "OutputConfig"
            ],
            "members": {
                "Arn": {
                    "shape": "EarthObservationJobArn"
                },
                "ExecutionRoleArn": {
                    "shape": "String"
                },
                "OutputConfig": {
                    "shape": "OutputConfigInput"
                },
                "ExportSourceImages": {
                    "shape": "Boolean"
                }
            }
        },
        "ExportEarthObservationJobOutput": {
            "type": "structure",
            "required": [
                "Arn",
                "CreationTime",
                "ExportStatus",
                "ExecutionRoleArn",
                "OutputConfig"
            ],
            "members": {
                "Arn": {
                    "shape": "EarthObservationJobArn"
                },
                "CreationTime": {
                    "shape": "Timestamp"
                },
                "ExportStatus": {
                    "shape": "EarthObservationJobExportStatus"
                },
                "ExecutionRoleArn": {
                    "shape": "String"
                },
                "OutputConfig": {
                    "shape": "OutputConfigInput"
                },
                "ExportSourceImages": {
                    "shape": "Boolean"
                }
            }
        },
        "ExportErrorDetails": {
            "type": "structure",
            "members": {
                "ExportResults": {
                    "shape": "ExportErrorDetailsOutput"
                },
                "ExportSourceImages": {
                    "shape": "ExportErrorDetailsOutput"
                }
            }
        },
        "ExportErrorDetailsOutput": {
            "type": "structure",
            "members": {
                "Type": {
                    "shape": "ExportErrorType"
                },
                "Message": {
                    "shape": "String"
                }
            }
        },
        "ExportErrorType": {
            "type": "string",
            "enum": [
                "CLIENT_ERROR",
                "SERVER_ERROR"
            ]
        },
        "ExportS3DataInput": {
            "type": "structure",
            "required": [
                "S3Uri"
            ],
            "members": {
                "S3Uri": {
                    "shape": "String"
                },
                "KmsKeyId": {
                    "shape": "String"
                }
            }
        },
        "ExportVectorEnrichmentJobInput": {
            "type": "structure",
            "required": [
                "Arn",
                "ExecutionRoleArn",
                "OutputConfig"
            ],
            "members": {
                "Arn": {
                    "shape": "VectorEnrichmentJobArn"
                },
                "ExecutionRoleArn": {
                    "shape": "String"
                },
                "OutputConfig": {
                    "shape": "ExportVectorEnrichmentJobOutputConfig"
                }
            }
        },
        "ExportVectorEnrichmentJobOutput": {
            "type": "structure",
            "required": [
                "Arn",
                "CreationTime",
                "ExecutionRoleArn",
                "ExportStatus",
                "OutputConfig"
            ],
            "members": {
                "Arn": {
                    "shape": "VectorEnrichmentJobArn"
                },
                "CreationTime": {
                    "shape": "Timestamp"
                },
                "ExecutionRoleArn": {
                    "shape": "String"
                },
                "ExportStatus": {
                    "shape": "VectorEnrichmentJobExportStatus"
                },
                "OutputConfig": {
                    "shape": "ExportVectorEnrichmentJobOutputConfig"
                }
            }
        },
        "ExportVectorEnrichmentJobOutputConfig": {
            "type": "structure",
            "required": [
                "S3Data"
            ],
            "members": {
                "S3Data": {
                    "shape": "VectorEnrichmentJobS3Data"
                }
            }
        },
        "Filter": {
            "type": "structure",
            "required": [
                "Name",
                "Type"
            ],
            "members": {
                "Name": {
                    "shape": "String"
                },
                "Type": {
                    "shape": "String"
                },
                "Minimum": {
                    "shape": "Float"
                },
                "Maximum": {
                    "shape": "Float"
                }
            }
        },
        "FilterList": {
            "type": "list",
            "member": {
                "shape": "Filter"
            }
        },
        "Float": {
            "type": "float",
            "box": true
        },
        "GeoMosaicConfigInput": {
            "type": "structure",
            "members": {
                "AlgorithmName": {
                    "shape": "AlgorithmNameGeoMosaic"
                },
                "TargetBands": {
                    "shape": "StringListInput"
                }
            }
        },
        "Geometry": {
            "type": "structure",
            "required": [
                "Type",
                "Coordinates"
            ],
            "members": {
                "Type": {
                    "shape": "String"
                },
                "Coordinates": {
                    "shape": "LinearRings"
                }
            }
        },
        "GetEarthObservationJobInput": {
            "type": "structure",
            "required": [
                "Arn"
            ],
            "members": {
                "Arn": {
                    "shape": "EarthObservationJobArn",
                    "location": "uri",
                    "locationName": "Arn"
                }
            }
        },
        "GetEarthObservationJobOutput": {
            "type": "structure",
            "required": [
                "Arn",
                "Name",
                "CreationTime",
                "DurationInSeconds",
                "Status",
                "InputConfig",
                "JobConfig"
            ],
            "members": {
                "Arn": {
                    "shape": "String"
                },
                "Name": {
                    "shape": "String"
                },
                "CreationTime": {
                    "shape": "Timestamp"
                },
                "DurationInSeconds": {
                    "shape": "Integer"
                },
                "Status": {
                    "shape": "EarthObservationJobStatus"
                },
                "KmsKeyId": {
                    "shape": "String"
                },
                "InputConfig": {
                    "shape": "InputConfigOutput"
                },
                "JobConfig": {
                    "shape": "JobConfigInput"
                },
                "OutputBands": {
                    "shape": "EarthObservationJobOutputBands"
                },
                "ExecutionRoleArn": {
                    "shape": "String"
                },
                "ErrorDetails": {
                    "shape": "EarthObservationJobErrorDetails"
                },
                "ExportStatus": {
                    "shape": "EarthObservationJobExportStatus"
                },
                "ExportErrorDetails": {
                    "shape": "ExportErrorDetails"
                },
                "tags": {
                    "shape": "Tags"
                }
            }
        },
        "GetRasterDataCollectionInput": {
            "type": "structure",
            "required": [
                "Arn"
            ],
            "members": {
                "Arn": {
                    "shape": "DataCollectionArn",
                    "location": "uri",
                    "locationName": "Arn"
                }
            }
        },
        "GetRasterDataCollectionOutput": {
            "type": "structure",
            "required": [
                "Name",
                "Arn",
                "Type",
                "Description",
                "DescriptionPageUrl",
                "SupportedFilters",
                "ImageSourceBands"
            ],
            "members": {
                "Name": {
                    "shape": "String"
                },
                "Arn": {
                    "shape": "DataCollectionArn"
                },
                "Type": {
                    "shape": "DataCollectionType"
                },
                "Description": {
                    "shape": "String"
                },
                "DescriptionPageUrl": {
                    "shape": "String"
                },
                "SupportedFilters": {
                    "shape": "FilterList"
                },
                "ImageSourceBands": {
                    "shape": "ImageSourceBandList"
                },
                "tags": {
                    "shape": "Tags"
                }
            }
        },
        "GetTileInput": {
            "type": "structure",
            "required": [
                "x",
                "y",
                "z",
                "ImageAssets",
                "Target",
                "Arn"
            ],
            "members": {
                "x": {
                    "shape": "Integer",
                    "location": "uri",
                    "locationName": "x"
                },
                "y": {
                    "shape": "Integer",
                    "location": "uri",
                    "locationName": "y"
                },
                "z": {
                    "shape": "Integer",
                    "location": "uri",
                    "locationName": "z"
                },
                "ImageAssets": {
                    "shape": "StringListInput",
                    "location": "querystring",
                    "locationName": "ImageAssets"
                },
                "Target": {
                    "shape": "TargetOptions",
                    "location": "querystring",
                    "locationName": "Target"
                },
                "Arn": {
                    "shape": "EarthObservationJobArn",
                    "location": "querystring",
                    "locationName": "Arn"
                },
                "ImageMask": {
                    "shape": "Boolean",
                    "location": "querystring",
                    "locationName": "ImageMask"
                },
                "OutputFormat": {
                    "shape": "String",
                    "location": "querystring",
                    "locationName": "OutputFormat"
                },
                "TimeRangeFilter": {
                    "shape": "String",
                    "location": "querystring",
                    "locationName": "TimeRangeFilter"
                },
                "PropertyFilters": {
                    "shape": "String",
                    "location": "querystring",
                    "locationName": "PropertyFilters"
                },
                "OutputDataType": {
                    "shape": "OutputType",
                    "location": "querystring",
                    "locationName": "OutputDataType"
                }
            }
        },
        "GetTileOutput": {
            "type": "structure",
            "members": {
                "BinaryFile": {
                    "shape": "BinaryFile"
                }
            },
            "payload": "BinaryFile"
        },
        "GetVectorEnrichmentJobInput": {
            "type": "structure",
            "required": [
                "Arn"
            ],
            "members": {
                "Arn": {
                    "shape": "VectorEnrichmentJobArn",
                    "location": "uri",
                    "locationName": "Arn"
                }
            }
        },
        "GetVectorEnrichmentJobOutput": {
            "type": "structure",
            "required": [
                "Arn",
                "Type",
                "Name",
                "CreationTime",
                "DurationInSeconds",
                "Status",
                "InputConfig",
                "JobConfig",
                "ExecutionRoleArn"
            ],
            "members": {
                "Arn": {
                    "shape": "String"
                },
                "Type": {
                    "shape": "VectorEnrichmentJobType"
                },
                "Name": {
                    "shape": "String"
                },
                "CreationTime": {
                    "shape": "Timestamp"
                },
                "DurationInSeconds": {
                    "shape": "Integer"
                },
                "Status": {
                    "shape": "VectorEnrichmentJobStatus"
                },
                "KmsKeyId": {
                    "shape": "String"
                },
                "InputConfig": {
                    "shape": "VectorEnrichmentJobInputConfig"
                },
                "JobConfig": {
                    "shape": "VectorEnrichmentJobConfig"
                },
                "ExecutionRoleArn": {
                    "shape": "String"
                },
                "ErrorDetails": {
                    "shape": "VectorEnrichmentJobErrorDetails"
                },
                "ExportStatus": {
                    "shape": "VectorEnrichmentJobExportStatus"
                },
                "ExportErrorDetails": {
                    "shape": "VectorEnrichmentJobExportErrorDetails"
                },
                "tags": {
                    "shape": "Tags"
                }
            }
        },
        "GroupBy": {
            "type": "string",
            "enum": [
                "ALL",
                "YEARLY"
            ]
        },
        "ImageSourceBandList": {
            "type": "list",
            "member": {
                "shape": "String"
            }
        },
        "InputConfigInput": {
            "type": "structure",
            "members": {
                "PreviousEarthObservationJobArn": {
                    "shape": "String"
                },
                "DataSourceConfig": {
                    "shape": "EojDataSourceConfigInput"
                },
                "RasterDataCollectionQuery": {
                    "shape": "RasterDataCollectionQueryInput"
                }
            }
        },
        "InputConfigOutput": {
            "type": "structure",
            "members": {
                "PreviousEarthObservationJobArn": {
                    "shape": "String"
                },
                "DataSourceConfig": {
                    "shape": "EojDataSourceConfigInput"
                },
                "RasterDataCollectionQuery": {
                    "shape": "RasterDataCollectionQueryOutput"
                }
            }
        },
        "Integer": {
            "type": "integer",
            "box": true
        },
        "InternalServerException": {
            "type": "structure",
            "required": [
                "Message",
                "ResourceId"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                },
                "ResourceId": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 500
            },
            "exception": true,
            "fault": true
        },
        "ItemSource": {
            "type": "structure",
            "required": [
                "Id",
                "Geometry",
                "DateTime"
            ],
            "members": {
                "Id": {
                    "shape": "String"
                },
                "Geometry": {
                    "shape": "Geometry"
                },
                "Assets": {
                    "shape": "AssetsMap"
                },
                "DateTime": {
                    "shape": "Timestamp"
                },
                "Properties": {
                    "shape": "Properties"
                }
            }
        },
        "ItemSourceList": {
            "type": "list",
            "member": {
                "shape": "ItemSource"
            }
        },
        "JobConfigInput": {
            "type": "structure",
            "members": {
                "BandMathConfig": {
                    "shape": "BandMathConfigInput"
                },
                "ResamplingConfig": {
                    "shape": "ResamplingConfigInput"
                },
                "TemporalStatisticsConfig": {
                    "shape": "TemporalStatisticsConfigInput"
                },
                "CloudRemovalConfig": {
                    "shape": "CloudRemovalConfigInput"
                },
                "ZonalStatisticsConfig": {
                    "shape": "ZonalStatisticsConfigInput"
                },
                "GeoMosaicConfig": {
                    "shape": "GeoMosaicConfigInput"
                },
                "StackConfig": {
                    "shape": "StackConfigInput"
                },
                "CloudMaskingConfig": {
                    "shape": "CloudMaskingConfigInput"
                },
                "LandCoverSegmentationConfig": {
                    "shape": "LandCoverSegmentationConfigInput"
                }
            },
            "union": true
        },
        "LandCoverSegmentationConfigInput": {
            "type": "structure",
            "members": {}
        },
        "LandsatCloudCoverLandInput": {
            "type": "structure",
            "required": [
                "LowerBound",
                "UpperBound"
            ],
            "members": {
                "LowerBound": {
                    "shape": "Float"
                },
                "UpperBound": {
                    "shape": "Float"
                }
            }
        },
        "LinearRing": {
            "type": "list",
            "member": {
                "shape": "Position"
            },
            "min": 4
        },
        "LinearRings": {
            "type": "list",
            "member": {
                "shape": "LinearRing"
            },
            "min": 1
        },
        "LinearRingsList": {
            "type": "list",
            "member": {
                "shape": "LinearRings"
            }
        },
        "ListEarthObservationJobInput": {
            "type": "structure",
            "members": {
                "StatusEquals": {
                    "shape": "EarthObservationJobStatus"
                },
                "SortOrder": {
                    "shape": "SortOrder"
                },
                "SortBy": {
                    "shape": "String"
                },
                "NextToken": {
                    "shape": "NextToken"
                },
                "MaxResults": {
                    "shape": "ListEarthObservationJobInputMaxResultsInteger"
                }
            }
        },
        "ListEarthObservationJobInputMaxResultsInteger": {
            "type": "integer",
            "box": true,
            "max": 20,
            "min": 1
        },
        "ListEarthObservationJobOutput": {
            "type": "structure",
            "required": [
                "EarthObservationJobSummaries"
            ],
            "members": {
                "EarthObservationJobSummaries": {
                    "shape": "EarthObservationJobList"
                },
                "NextToken": {
                    "shape": "NextToken"
                }
            }
        },
        "ListEarthObservationJobOutputConfig": {
            "type": "structure",
            "required": [
                "Arn",
                "Name",
                "CreationTime",
                "DurationInSeconds",
                "Status",
                "OperationType"
            ],
            "members": {
                "Arn": {
                    "shape": "String"
                },
                "Name": {
                    "shape": "String"
                },
                "CreationTime": {
                    "shape": "Timestamp"
                },
                "DurationInSeconds": {
                    "shape": "Integer"
                },
                "Status": {
                    "shape": "EarthObservationJobStatus"
                },
                "OperationType": {
                    "shape": "String"
                },
                "tags": {
                    "shape": "Tags"
                }
            }
        },
        "ListRasterDataCollectionsInput": {
            "type": "structure",
            "members": {
                "NextToken": {
                    "shape": "NextToken",
                    "location": "querystring",
                    "locationName": "NextToken"
                },
                "MaxResults": {
                    "shape": "ListRasterDataCollectionsInputMaxResultsInteger",
                    "location": "querystring",
                    "locationName": "MaxResults"
                }
            }
        },
        "ListRasterDataCollectionsInputMaxResultsInteger": {
            "type": "integer",
            "box": true,
            "max": 20,
            "min": 1
        },
        "ListRasterDataCollectionsOutput": {
            "type": "structure",
            "required": [
                "RasterDataCollectionSummaries"
            ],
            "members": {
                "RasterDataCollectionSummaries": {
                    "shape": "DataCollectionsList"
                },
                "NextToken": {
                    "shape": "NextToken"
                }
            }
        },
        "ListTagsForResourceRequest": {
            "type": "structure",
            "required": [
                "ResourceArn"
            ],
            "members": {
                "ResourceArn": {
                    "shape": "Arn",
                    "location": "uri",
                    "locationName": "ResourceArn"
                }
            }
        },
        "ListTagsForResourceResponse": {
            "type": "structure",
            "members": {
                "Tags": {
                    "shape": "Tags"
                }
            }
        },
        "ListVectorEnrichmentJobInput": {
            "type": "structure",
            "members": {
                "StatusEquals": {
                    "shape": "String"
                },
                "SortOrder": {
                    "shape": "SortOrder"
                },
                "SortBy": {
                    "shape": "String"
                },
                "NextToken": {
                    "shape": "NextToken"
                },
                "MaxResults": {
                    "shape": "ListVectorEnrichmentJobInputMaxResultsInteger"
                }
            }
        },
        "ListVectorEnrichmentJobInputMaxResultsInteger": {
            "type": "integer",
            "box": true,
            "max": 20,
            "min": 1
        },
        "ListVectorEnrichmentJobOutput": {
            "type": "structure",
            "required": [
                "VectorEnrichmentJobSummaries"
            ],
            "members": {
                "VectorEnrichmentJobSummaries": {
                    "shape": "VectorEnrichmentJobList"
                },
                "NextToken": {
                    "shape": "NextToken"
                }
            }
        },
        "ListVectorEnrichmentJobOutputConfig": {
            "type": "structure",
            "required": [
                "Arn",
                "Name",
                "Type",
                "CreationTime",
                "DurationInSeconds",
                "Status"
            ],
            "members": {
                "Arn": {
                    "shape": "VectorEnrichmentJobArn"
                },
                "Name": {
                    "shape": "String"
                },
                "Type": {
                    "shape": "VectorEnrichmentJobType"
                },
                "CreationTime": {
                    "shape": "Timestamp"
                },
                "DurationInSeconds": {
                    "shape": "Integer"
                },
                "Status": {
                    "shape": "VectorEnrichmentJobStatus"
                },
                "tags": {
                    "shape": "Tags"
                }
            }
        },
        "LogicalOperator": {
            "type": "string",
            "enum": [
                "AND"
            ]
        },
        "MapMatchingConfig": {
            "type": "structure",
            "required": [
                "IdAttributeName",
                "YAttributeName",
                "XAttributeName",
                "TimestampAttributeName"
            ],
            "members": {
                "IdAttributeName": {
                    "shape": "String"
                },
                "YAttributeName": {
                    "shape": "String"
                },
                "XAttributeName": {
                    "shape": "String"
                },
                "TimestampAttributeName": {
                    "shape": "String"
                }
            }
        },
        "MetadataProvider": {
            "type": "string",
            "enum": [
                "PLANET_ORDER"
            ]
        },
        "MultiPolygonGeometryInput": {
            "type": "structure",
            "required": [
                "Coordinates"
            ],
            "members": {
                "Coordinates": {
                    "shape": "LinearRingsList"
                }
            }
        },
        "NextToken": {
            "type": "string",
            "max": 8192,
            "min": 0
        },
        "Operation": {
            "type": "structure",
            "required": [
                "Name",
                "Equation"
            ],
            "members": {
                "Name": {
                    "shape": "String"
                },
                "Equation": {
                    "shape": "String"
                },
                "OutputType": {
                    "shape": "OutputType"
                }
            }
        },
        "OperationsListInput": {
            "type": "list",
            "member": {
                "shape": "Operation"
            },
            "min": 1
        },
        "OutputBand": {
            "type": "structure",
            "required": [
                "BandName",
                "OutputDataType"
            ],
            "members": {
                "BandName": {
                    "shape": "String"
                },
                "OutputDataType": {
                    "shape": "OutputType"
                }
            }
        },
        "OutputConfigInput": {
            "type": "structure",
            "required": [
                "S3Data"
            ],
            "members": {
                "S3Data": {
                    "shape": "ExportS3DataInput"
                }
            }
        },
        "OutputResolutionResamplingInput": {
            "type": "structure",
            "required": [
                "UserDefined"
            ],
            "members": {
                "UserDefined": {
                    "shape": "UserDefined"
                }
            }
        },
        "OutputResolutionStackInput": {
            "type": "structure",
            "members": {
                "Predefined": {
                    "shape": "PredefinedResolution"
                },
                "UserDefined": {
                    "shape": "UserDefined"
                }
            }
        },
        "OutputType": {
            "type": "string",
            "enum": [
                "INT32",
                "FLOAT32",
                "INT16",
                "FLOAT64",
                "UINT16"
            ]
        },
        "PlatformInput": {
            "type": "structure",
            "required": [
                "Value"
            ],
            "members": {
                "Value": {
                    "shape": "String"
                },
                "ComparisonOperator": {
                    "shape": "ComparisonOperator"
                }
            }
        },
        "PolygonGeometryInput": {
            "type": "structure",
            "required": [
                "Coordinates"
            ],
            "members": {
                "Coordinates": {
                    "shape": "LinearRings"
                }
            }
        },
        "Position": {
            "type": "list",
            "member": {
                "shape": "Double"
            },
            "max": 2,
            "min": 2,
            "sensitive": true
        },
        "PredefinedResolution": {
            "type": "string",
            "enum": [
                "HIGHEST",
                "LOWEST",
                "AVERAGE"
            ]
        },
        "Properties": {
            "type": "structure",
            "members": {
                "EoCloudCover": {
                    "shape": "Float"
                },
                "ViewOffNadir": {
                    "shape": "Float"
                },
                "ViewSunAzimuth": {
                    "shape": "Float"
                },
                "ViewSunElevation": {
                    "shape": "Float"
                },
                "Platform": {
                    "shape": "String"
                },
                "SentinelValidCloudCover": {
                    "shape": "Boolean"
                },
                "LandsatCloudCoverLand": {
                    "shape": "Float"
                }
            }
        },
        "Property": {
            "type": "structure",
            "members": {
                "EoCloudCover": {
                    "shape": "EoCloudCoverInput"
                },
                "ViewOffNadir": {
                    "shape": "ViewOffNadirInput"
                },
                "ViewSunAzimuth": {
                    "shape": "ViewSunAzimuthInput"
                },
                "ViewSunElevation": {
                    "shape": "ViewSunElevationInput"
                },
                "Platform": {
                    "shape": "PlatformInput"
                },
                "SentinelValidCloudCover": {
                    "shape": "SentinelValidCloudCoverInput"
                },
                "LandsatCloudCoverLand": {
                    "shape": "LandsatCloudCoverLandInput"
                }
            },
            "union": true
        },
        "PropertyFilter": {
            "type": "structure",
            "required": [
                "Property"
            ],
            "members": {
                "Property": {
                    "shape": "Property"
                }
            }
        },
        "PropertyFilters": {
            "type": "structure",
            "members": {
                "Properties": {
                    "shape": "PropertyFiltersList"
                },
                "LogicalOperator": {
                    "shape": "LogicalOperator"
                }
            }
        },
        "PropertyFiltersList": {
            "type": "list",
            "member": {
                "shape": "PropertyFilter"
            }
        },
        "RasterDataCollectionMetadata": {
            "type": "structure",
            "required": [
                "Name",
                "Arn",
                "Type",
                "Description",
                "SupportedFilters"
            ],
            "members": {
                "Name": {
                    "shape": "String"
                },
                "Arn": {
                    "shape": "DataCollectionArn"
                },
                "Type": {
                    "shape": "DataCollectionType"
                },
                "Description": {
                    "shape": "String"
                },
                "DescriptionPageUrl": {
                    "shape": "String"
                },
                "SupportedFilters": {
                    "shape": "FilterList"
                },
                "tags": {
                    "shape": "Tags"
                }
            }
        },
        "RasterDataCollectionQueryInput": {
            "type": "structure",
            "required": [
                "RasterDataCollectionArn",
                "TimeRangeFilter"
            ],
            "members": {
                "RasterDataCollectionArn": {
                    "shape": "String"
                },
                "TimeRangeFilter": {
                    "shape": "TimeRangeFilterInput"
                },
                "AreaOfInterest": {
                    "shape": "AreaOfInterest"
                },
                "PropertyFilters": {
                    "shape": "PropertyFilters"
                }
            }
        },
        "RasterDataCollectionQueryOutput": {
            "type": "structure",
            "required": [
                "RasterDataCollectionArn",
                "RasterDataCollectionName",
                "TimeRangeFilter"
            ],
            "members": {
                "RasterDataCollectionArn": {
                    "shape": "String"
                },
                "RasterDataCollectionName": {
                    "shape": "String"
                },
                "TimeRangeFilter": {
                    "shape": "TimeRangeFilterInput"
                },
                "AreaOfInterest": {
                    "shape": "AreaOfInterest"
                },
                "PropertyFilters": {
                    "shape": "PropertyFilters"
                }
            }
        },
        "RasterDataCollectionQueryWithBandFilterInput": {
            "type": "structure",
            "required": [
                "TimeRangeFilter"
            ],
            "members": {
                "TimeRangeFilter": {
                    "shape": "TimeRangeFilterInput"
                },
                "AreaOfInterest": {
                    "shape": "AreaOfInterest"
                },
                "PropertyFilters": {
                    "shape": "PropertyFilters"
                },
                "BandFilter": {
                    "shape": "StringListInput"
                }
            }
        },
        "ResamplingConfigInput": {
            "type": "structure",
            "required": [
                "OutputResolution"
            ],
            "members": {
                "OutputResolution": {
                    "shape": "OutputResolutionResamplingInput"
                },
                "AlgorithmName": {
                    "shape": "AlgorithmNameResampling"
                },
                "TargetBands": {
                    "shape": "StringListInput"
                }
            }
        },
        "ResourceNotFoundException": {
            "type": "structure",
            "required": [
                "Message",
                "ResourceId"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                },
                "ResourceId": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 404,
                "senderFault": true
            },
            "exception": true
        },
        "ReverseGeocodingConfig": {
            "type": "structure",
            "required": [
                "YAttributeName",
                "XAttributeName"
            ],
            "members": {
                "YAttributeName": {
                    "shape": "String"
                },
                "XAttributeName": {
                    "shape": "String"
                }
            }
        },
        "S3DataInput": {
            "type": "structure",
            "required": [
                "S3Uri",
                "MetadataProvider"
            ],
            "members": {
                "S3Uri": {
                    "shape": "String"
                },
                "MetadataProvider": {
                    "shape": "MetadataProvider"
                },
                "KmsKeyId": {
                    "shape": "String"
                }
            }
        },
        "SearchRasterDataCollectionInput": {
            "type": "structure",
            "required": [
                "Arn",
                "RasterDataCollectionQuery"
            ],
            "members": {
                "Arn": {
                    "shape": "DataCollectionArn"
                },
                "RasterDataCollectionQuery": {
                    "shape": "RasterDataCollectionQueryWithBandFilterInput"
                },
                "NextToken": {
                    "shape": "NextToken"
                }
            }
        },
        "SearchRasterDataCollectionOutput": {
            "type": "structure",
            "required": [
                "ApproximateResultCount"
            ],
            "members": {
                "ApproximateResultCount": {
                    "shape": "Integer"
                },
                "NextToken": {
                    "shape": "NextToken"
                },
                "Items": {
                    "shape": "ItemSourceList"
                }
            }
        },
        "SentinelValidCloudCoverInput": {
            "type": "structure",
            "required": [
                "Value"
            ],
            "members": {
                "Value": {
                    "shape": "Boolean"
                }
            }
        },
        "ServiceQuotaExceededException": {
            "type": "structure",
            "required": [
                "Message",
                "ResourceId"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                },
                "ResourceId": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 402,
                "senderFault": true
            },
            "exception": true
        },
        "SortOrder": {
            "type": "string",
            "enum": [
                "ASCENDING",
                "DESCENDING"
            ]
        },
        "StackConfigInput": {
            "type": "structure",
            "members": {
                "OutputResolution": {
                    "shape": "OutputResolutionStackInput"
                },
                "TargetBands": {
                    "shape": "StringListInput"
                }
            }
        },
        "StartEarthObservationJobInput": {
            "type": "structure",
            "required": [
                "Name",
                "InputConfig",
                "JobConfig"
            ],
            "members": {
                "Name": {
                    "shape": "String"
                },
                "ClientToken": {
                    "shape": "String",
                    "idempotencyToken": true
                },
                "KmsKeyId": {
                    "shape": "String"
                },
                "InputConfig": {
                    "shape": "InputConfigInput"
                },
                "JobConfig": {
                    "shape": "JobConfigInput"
                },
                "ExecutionRoleArn": {
                    "shape": "String"
                },
                "tags": {
                    "shape": "Tags"
                }
            }
        },
        "StartEarthObservationJobOutput": {
            "type": "structure",
            "required": [
                "Name",
                "Arn",
                "CreationTime",
                "DurationInSeconds",
                "Status",
                "JobConfig"
            ],
            "members": {
                "Name": {
                    "shape": "String"
                },
                "Arn": {
                    "shape": "String"
                },
                "CreationTime": {
                    "shape": "Timestamp"
                },
                "DurationInSeconds": {
                    "shape": "Integer"
                },
                "Status": {
                    "shape": "EarthObservationJobStatus"
                },
                "KmsKeyId": {
                    "shape": "String"
                },
                "InputConfig": {
                    "shape": "InputConfigOutput"
                },
                "JobConfig": {
                    "shape": "JobConfigInput"
                },
                "ExecutionRoleArn": {
                    "shape": "String"
                },
                "tags": {
                    "shape": "Tags"
                }
            }
        },
        "StartVectorEnrichmentJobInput": {
            "type": "structure",
            "required": [
                "Name",
                "InputConfig",
                "JobConfig",
                "ExecutionRoleArn"
            ],
            "members": {
                "Name": {
                    "shape": "String"
                },
                "ClientToken": {
                    "shape": "String",
                    "idempotencyToken": true
                },
                "KmsKeyId": {
                    "shape": "String"
                },
                "InputConfig": {
                    "shape": "VectorEnrichmentJobInputConfig"
                },
                "JobConfig": {
                    "shape": "VectorEnrichmentJobConfig"
                },
                "ExecutionRoleArn": {
                    "shape": "String"
                },
                "tags": {
                    "shape": "Tags"
                }
            }
        },
        "StartVectorEnrichmentJobOutput": {
            "type": "structure",
            "required": [
                "Name",
                "Arn",
                "Type",
                "CreationTime",
                "DurationInSeconds",
                "Status",
                "InputConfig",
                "JobConfig",
                "ExecutionRoleArn"
            ],
            "members": {
                "Name": {
                    "shape": "String"
                },
                "Arn": {
                    "shape": "VectorEnrichmentJobArn"
                },
                "Type": {
                    "shape": "VectorEnrichmentJobType"
                },
                "CreationTime": {
                    "shape": "Timestamp"
                },
                "DurationInSeconds": {
                    "shape": "Integer"
                },
                "Status": {
                    "shape": "VectorEnrichmentJobStatus"
                },
                "KmsKeyId": {
                    "shape": "String"
                },
                "InputConfig": {
                    "shape": "VectorEnrichmentJobInputConfig"
                },
                "JobConfig": {
                    "shape": "VectorEnrichmentJobConfig"
                },
                "ExecutionRoleArn": {
                    "shape": "String"
                },
                "tags": {
                    "shape": "Tags"
                }
            }
        },
        "StopEarthObservationJobInput": {
            "type": "structure",
            "required": [
                "Arn"
            ],
            "members": {
                "Arn": {
                    "shape": "EarthObservationJobArn"
                }
            }
        },
        "StopEarthObservationJobOutput": {
            "type": "structure",
            "members": {}
        },
        "StopVectorEnrichmentJobInput": {
            "type": "structure",
            "required": [
                "Arn"
            ],
            "members": {
                "Arn": {
                    "shape": "VectorEnrichmentJobArn"
                }
            }
        },
        "StopVectorEnrichmentJobOutput": {
            "type": "structure",
            "members": {}
        },
        "String": {
            "type": "string"
        },
        "StringListInput": {
            "type": "list",
            "member": {
                "shape": "String"
            },
            "min": 1
        },
        "TagKeyList": {
            "type": "list",
            "member": {
                "shape": "String"
            },
            "max": 50,
            "min": 1,
            "sensitive": true
        },
        "TagResourceRequest": {
            "type": "structure",
            "required": [
                "ResourceArn",
                "Tags"
            ],
            "members": {
                "ResourceArn": {
                    "shape": "Arn",
                    "location": "uri",
                    "locationName": "ResourceArn"
                },
                "Tags": {
                    "shape": "Tags"
                }
            }
        },
        "TagResourceResponse": {
            "type": "structure",
            "members": {}
        },
        "Tags": {
            "type": "map",
            "key": {
                "shape": "String"
            },
            "value": {
                "shape": "String"
            }
        },
        "TargetOptions": {
            "type": "string",
            "enum": [
                "INPUT",
                "OUTPUT"
            ]
        },
        "TemporalStatistics": {
            "type": "string",
            "enum": [
                "MEAN",
                "MEDIAN",
                "STANDARD_DEVIATION"
            ]
        },
        "TemporalStatisticsConfigInput": {
            "type": "structure",
            "required": [
                "Statistics"
            ],
            "members": {
                "GroupBy": {
                    "shape": "GroupBy"
                },
                "Statistics": {
                    "shape": "TemporalStatisticsListInput"
                },
                "TargetBands": {
                    "shape": "StringListInput"
                }
            }
        },
        "TemporalStatisticsListInput": {
            "type": "list",
            "member": {
                "shape": "TemporalStatistics"
            },
            "min": 1
        },
        "ThrottlingException": {
            "type": "structure",
            "required": [
                "Message",
                "ResourceId"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                },
                "ResourceId": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 429,
                "senderFault": true
            },
            "exception": true
        },
        "TimeRangeFilterInput": {
            "type": "structure",
            "required": [
                "StartTime",
                "EndTime"
            ],
            "members": {
                "StartTime": {
                    "shape": "Timestamp"
                },
                "EndTime": {
                    "shape": "Timestamp"
                }
            }
        },
        "Timestamp": {
            "type": "timestamp"
        },
        "Unit": {
            "type": "string",
            "enum": [
                "METERS"
            ]
        },
        "UntagResourceRequest": {
            "type": "structure",
            "required": [
                "ResourceArn",
                "TagKeys"
            ],
            "members": {
                "ResourceArn": {
                    "shape": "Arn",
                    "location": "uri",
                    "locationName": "ResourceArn"
                },
                "TagKeys": {
                    "shape": "TagKeyList",
                    "location": "querystring",
                    "locationName": "tagKeys"
                }
            }
        },
        "UntagResourceResponse": {
            "type": "structure",
            "members": {}
        },
        "UserDefined": {
            "type": "structure",
            "required": [
                "Value",
                "Unit"
            ],
            "members": {
                "Value": {
                    "shape": "Float"
                },
                "Unit": {
                    "shape": "Unit"
                }
            }
        },
        "ValidationException": {
            "type": "structure",
            "required": [
                "Message",
                "ResourceId"
            ],
            "members": {
                "Message": {
                    "shape": "String"
                },
                "ResourceId": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 400,
                "senderFault": true
            },
            "exception": true
        },
        "VectorEnrichmentJobArn": {
            "type": "string",
            "pattern": "arn:aws[a-z-]{0,12}:sagemaker-geospatial:[a-z0-9-]{1,25}:[0-9]{12}:vector-enrichment-job/[a-z0-9]{12,}"
        },
        "VectorEnrichmentJobConfig": {
            "type": "structure",
            "members": {
                "ReverseGeocodingConfig": {
                    "shape": "ReverseGeocodingConfig"
                },
                "MapMatchingConfig": {
                    "shape": "MapMatchingConfig"
                }
            },
            "union": true
        },
        "VectorEnrichmentJobDataSourceConfigInput": {
            "type": "structure",
            "members": {
                "S3Data": {
                    "shape": "VectorEnrichmentJobS3Data"
                }
            },
            "union": true
        },
        "VectorEnrichmentJobDocumentType": {
            "type": "string",
            "enum": [
                "CSV"
            ]
        },
        "VectorEnrichmentJobErrorDetails": {
            "type": "structure",
            "members": {
                "ErrorType": {
                    "shape": "VectorEnrichmentJobErrorType"
                },
                "ErrorMessage": {
                    "shape": "String"
                }
            }
        },
        "VectorEnrichmentJobErrorType": {
            "type": "string",
            "enum": [
                "CLIENT_ERROR",
                "SERVER_ERROR"
            ]
        },
        "VectorEnrichmentJobExportErrorDetails": {
            "type": "structure",
            "members": {
                "Type": {
                    "shape": "VectorEnrichmentJobExportErrorType"
                },
                "Message": {
                    "shape": "String"
                }
            }
        },
        "VectorEnrichmentJobExportErrorType": {
            "type": "string",
            "enum": [
                "CLIENT_ERROR",
                "SERVER_ERROR"
            ]
        },
        "VectorEnrichmentJobExportStatus": {
            "type": "string",
            "enum": [
                "EXPORT_FAILED",
                "EXPORTED",
                "EXPORTING"
            ]
        },
        "VectorEnrichmentJobInputConfig": {
            "type": "structure",
            "required": [
                "DocumentType",
                "DataSourceConfig"
            ],
            "members": {
                "DocumentType": {
                    "shape": "VectorEnrichmentJobDocumentType"
                },
                "DataSourceConfig": {
                    "shape": "VectorEnrichmentJobDataSourceConfigInput"
                }
            }
        },
        "VectorEnrichmentJobList": {
            "type": "list",
            "member": {
                "shape": "ListVectorEnrichmentJobOutputConfig"
            }
        },
        "VectorEnrichmentJobS3Data": {
            "type": "structure",
            "required": [
                "S3Uri"
            ],
            "members": {
                "S3Uri": {
                    "shape": "String"
                },
                "KmsKeyId": {
                    "shape": "String"
                }
            }
        },
        "VectorEnrichmentJobStatus": {
            "type": "string",
            "enum": [
                "INITIALIZING",
                "IN_PROGRESS",
                "STOPPING",
                "STOPPED",
                "COMPLETED",
                "FAILED",
                "DELETING",
                "DELETED"
            ]
        },
        "VectorEnrichmentJobType": {
            "type": "string",
            "enum": [
                "REVERSE_GEOCODING",
                "MAP_MATCHING"
            ]
        },
        "ViewOffNadirInput": {
            "type": "structure",
            "required": [
                "LowerBound",
                "UpperBound"
            ],
            "members": {
                "LowerBound": {
                    "shape": "Float"
                },
                "UpperBound": {
                    "shape": "Float"
                }
            }
        },
        "ViewSunAzimuthInput": {
            "type": "structure",
            "required": [
                "LowerBound",
                "UpperBound"
            ],
            "members": {
                "LowerBound": {
                    "shape": "Float"
                },
                "UpperBound": {
                    "shape": "Float"
                }
            }
        },
        "ViewSunElevationInput": {
            "type": "structure",
            "required": [
                "LowerBound",
                "UpperBound"
            ],
            "members": {
                "LowerBound": {
                    "shape": "Float"
                },
                "UpperBound": {
                    "shape": "Float"
                }
            }
        },
        "ZonalStatistics": {
            "type": "string",
            "enum": [
                "MEAN",
                "MEDIAN",
                "STANDARD_DEVIATION",
                "MAX",
                "MIN",
                "SUM"
            ]
        },
        "ZonalStatisticsConfigInput": {
            "type": "structure",
            "required": [
                "ZoneS3Path",
                "Statistics"
            ],
            "members": {
                "ZoneS3Path": {
                    "shape": "String"
                },
                "Statistics": {
                    "shape": "ZonalStatisticsListInput"
                },
                "TargetBands": {
                    "shape": "StringListInput"
                }
            }
        },
        "ZonalStatisticsListInput": {
            "type": "list",
            "member": {
                "shape": "ZonalStatistics"
            },
            "min": 1
        }
    }
}
